


<% if params[:controller] == 'items' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
	<a href="" class="list-group-item">USB Cable</a>
	<a href="" class="list-group-item">Synth</a>
	<a href="" class="list-group-item">Board</a>
	<a href="" class="list-group-item">Iphone Cable</a>
</div>

<% end %>

