<div id="items-show">
	<h2>USB Cable</h2>
	<div class="items-show-left">
		<%= image_tag('covers/2.jpg') %>
	</div>
	<div class="items-show-right">
		<h3> Item Info:</h3>
		<ul>
			<li><strong>Category:</strong>USB Cable</li>
			<li><strong>ID Code:</strong>23834</li>
			<li><strong>Material:</strong>Standard</li>
			<li><strong>Color:</strong>Black</li>
			<li><strong>Length:</strong>1M</li>
</ul>
	<%=link_to "Buy for $3", 'http://www.ebay.com', class:'btn btn-success', target:'_blank' %>
</div>
<div class= "clearfix"></div>
<h3> Info: </h3>
<p> Compatible with your devices: camera, phone .. </p>
</div>