<h1><%= @page_title %></h1>
<p>
We are a company that specializes on electrical equipment.
Not just common tools, but also DYI kits and much more. If there is something you would like to see here, we will be glad to hear from you!</p>

<div class="well"> 
	<ul>
	<h3>Contact Details:</h3>
	<li> Elektro Store </li>
	<li> Heiligenstadter Strasse 144/* </li>
	<li> Austria, Wien, 1190 </li>
	<li> Call: +436606339026 </li>
	<li> Email: support@elektro.com </li>
</ul>
</div>